include:
  - project: "cocainefarm/templates/ci"
    file: "/rust.yaml"
    rules:
      - if: $CI_COMMIT_TAG == null
  - project: "cocainefarm/templates/ci"
    file: "/tanka.base.yaml"
    rules:
      - if: $CI_COMMIT_TAG

test:
  before_script:
    - apk add openssl-dev

coverage:
  before_script:
    - apk add openssl-dev

build:
  before_script:
    - apk add openssl-dev

workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
