[package]
name = "catinator"
version = "1.4.0"
authors = ["Max Audron <audron@cocaine.farm>"]
edition = "2018"

[dependencies]
macros = { package = "catinator_macros", version = "0", path = "./macros" }

irc = { version = "0.15", features = ["json", "tls-rust", "ctcp"], default_features = false }
irc-proto = "0.15"
sasl = "0.5"
base64 = "0.13"

serde = { version = "1.0", features = ["derive"] }
toml = "0.5"

anyhow = "1"

futures = "0.3"
tokio = { version = "1.5.0", features = ["full", "rt-multi-thread"] }

tracing = "0.1"
tracing-subscriber = "0.2"
tracing-futures = "0.2"

regex = "1"
sedregex = { version = "0.2", git = "https://gitlab.com/audron/sedregex" }

rand = "0.8.3"

reqwest = { version = "0.11", features = ["json"] }
kuchiki = "0.8.1"

[dev-dependencies]
tokio-test = "*"

[features]
default = []

bench = []

[workspace]
members = ["macros"]
